html
  head
    meta( name="viewport" content="width=device-width, initial-scale=1" )
    base( href="/" )
    title
      |Angular Project Stub
  body
    noscript
      #noscript-warning
        .text-center
          .fa.fa-bomb.fa-5x.padded-top.padded-bottom.icon-faded
          h4
            |Your browser does not support Javascript, which is essential for this application.
          div
            a( href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/What_is_JavaScript" target="_blank" )
              |What is Javascript?
          |Check if javascript is enabled or try another browser.
    app-root
      #app-loader
        .ui.loader.active
